html {
    font-family: Arial, Helvetica, sans-serif; 
    display: inline-block; 
    text-align: center;
  }
  p { 
    font-size: 1.4rem;
  }
  .topnav { 
    overflow: hidden; 
    background-color: #0A1128;
  }
  body {  
    margin: 0;
  }

.gauge-container { 
    background-color: red;
    border-style: dashed;
    border-width: 1px;
}
.gauge-title { 
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078
}

.content {
    height: 100vh;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  /* canvas {
    width: 100% !important;
    height: auto !important;
} */


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #connection-snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    font-size: 17px;
  }
  
  #connection-snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


  .splash{
    cursor : pointer;
    position : fixed;
    top : 50%;
    left : 50%;
    height : 100%;
    width : 100%;
    transform : translate(-50%,-50%);    
    background-color: rgba(0,0,0);
    transition : all ease-in-out 600ms;
  }
  .hidden{
    transition : 0.5s;
    display : none;
  }
  .splash-header {
    height : 90%;
    color : white;
    font-family : consolas;
    font-size : 30px;
    display : flex;
    justify-content: center;
    align-items : center;
  }
